<div
  class="group h-full relative p-6 transition-all duration-300 overflow-hidden cursor-pointer active:scale-100 rounded-sm border-2 border-transparent hover:border-2 hover:border-accent flex flex-col"
>
  <!-- Combo Badge -->

  <div class="relative flex flex-col h-full gap-4">
    <div
      class="relative w-50 h-50 mx-auto rounded-full md:rounded-sm shadow-lg shadow-gray-500/20 group overflow-hidden"
    >
      <!-- Imagen circular -->
      <img
        [src]="combo().url"
        [alt]="combo().name"
        [title]="combo().name"
        class="w-full h-full object-cover transition-transform duration-300"
      />
    </div>

    <div class="flex-1 flex flex-col gap-3">
      <h3 class="text-3xl font-display text-primary-text text-center">{{ combo().name }}</h3>

      <div class="flex gap-3">
        <p class="text-primary-text/70 max-w-xs text-center font-body leading-relaxed line-clamp-3">
          {{ combo().description }}
        </p>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between gap-4 pt-4">
    <p
      class="flex-1 py-1 px-4 rounded-sm tracking-widest bg-primary font-display text-center text-white text-xl"
    >
      {{ combo().price | precio }}
    </p>
    @if (canOrder()) {
      <app-add-button
        class="flex-1"
        customClass="border-px border-white active"
        (clicked)="addToCart.emit(combo())"
      ></app-add-button>
    }
  </div>
</div>
