<div (click)="onCardClick()"
  class="group relative space-y-4 items-center w-120 min-h-50 border border-transparent hover:border-accent rounded-sm p-4 flex flex-col cursor-pointer">
  <div class="w-full col-span-1 h-auto grid grid-cols-2 gap-8 items-start justify-between">
    <div class="bg-secondary relative rounded-full w-50 h-50 ">
      <img [src]="promotion().url" [alt]="promotion().name" [title]="promotion().name"
        class="h-50 w-50 duration-300 " />
      @if (canOrder()) {
        <app-add-button class="absolute bottom-0 -right-3" (clicked)="onAddClick($event)"></app-add-button>
      }

    </div>
    <div class="flex flex-col items-start max-w-50 gap-4">
      <h3 class="text-4xl font-display text-white">
        {{ promotion().name }}
      </h3>



      <div class="flex w-full items-start  mx-auto    flex-col relative">
        <span class="text-lg font-display text-primary-text/50 line-through">
          {{ promotion().price | precio }}
        </span>
        <span class="text-3xl py-1 px-3 rounded-sm  bg-primary font-display text-white">
          {{ promotion().discountedPrice | precio }}
        </span>
      </div>

    </div>
  </div>
  <div class="flex flex-col items-start px-4">
    <p [ngClass]="{'line-clamp-1': !showMore(), 'line-clamp-none': showMore()}" class="text-lg text-white/80">
      {{promotion().description}}</p>

    <button (click)="toggleShowMore($event)" class="text-white bg-primary px-3 py-1 rounded-sm ">Ver más</button>
  </div>
</div>